@font-face {
  font-family: "iconfont"; /* Project id 2897766 */
  src: url('iconfont.woff2?t=1693364024174') format('woff2'),
       url('iconfont.woff?t=1693364024174') format('woff'),
       url('iconfont.ttf?t=1693364024174') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshaixuan:before {
  content: "\e671";
}

